{% extends 'core/base.html' %} {% block content %}

<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">CONTACT</h1>
  <div class="row text-white mb-5">
    <p class="mx-auto mb-5">
      Do you have any questions? Please do not hesitate to contact. I will come
      back to you within a matter of hours to help you.
    </p>
    <div class="col-sm-9 mb-5">
      <form action="">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Your Name</label>
            <input
              type="text"
              class="form-control"
              id="inputName"
              placeholder="Enter your Name"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail">Your Email *</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputSubject">Your Subject</label>
            <input
              type="text"
              class="form-control"
              id="inputSubject"
              placeholder="Enter your subject"
              required
            />
          </div>
          <div class="mb-3">
            <label for="inputTextarea">Your Message *</label>
            <textarea
              class="form-control"
              id="inputTextarea"
              placeholder="Enter your message"
              required
            ></textarea>
          </div>
          <button class="btn btn-primary" type="submit">Send</button>
        </div>
      </form>
    </div>
    <div class="col-sm-3 text-center">
      <ul class="list-unstyled">
        <li>
          <i class="fas fa-map-marker-alt fa-2x i-color"></i>
          <p>Zain, Oslo, Norway</p>
        </li>
        <li>
          <i class="fas fa-phone mt-4 fa-2x i-color"></i>
          <p>+47 96727161</p>
        </li>
        <li>
          <i class="fas fa-envelope mt-4 fa-2x i-color"></i>
          <p>mzain2353@gmail.com</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="#" target="_blank"><i class="fa-brands fa-linkedin i-color"></i></a>
  <a href="#" target="_blank"
    ><i class="fa-brands fa-github i-color mr-3"></i
  ></a>
  <a href="#" target="_blank"
    ><i class="fa-brands fa-facebook-f i-color mr-3"></i
  ></a>
  <a href="#" target="_blank"
    ><i class="fa-brands fa-instagram i-color mr-3"></i
  ></a>
</div>

{% endblock content %}
