{% extends 'core/base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

  <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
      <i class="fa-solid fa-magnifying-glass-chart fa-2x mb-3 i-color"></i>
      <h3>Data Analysis</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti velit
        dolorem perferendis incidunt quae fugit.
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
      <h3>Android</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti velit
        dolorem perferendis incidunt quae fugit.
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
      <h3>Web Developement</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti velit
        dolorem perferendis incidunt quae fugit.
      </p>
    </div>
  </div>
  <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
      <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
      <h3>Data Science</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti velit
        dolorem perferendis incidunt quae fugit.
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-brands fa-python fa-2x mb-3 i-color"></i>
      <h3>Python</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti velit
        dolorem perferendis incidunt quae fugit.
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-brands fa-java fa-2x mb-3 i-color"></i>
      <h3>Java</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti velit
        dolorem perferendis incidunt quae fugit.
      </p>
    </div>
  </div>

  <div class="row text-center text-white mb-5">
    <div class="col-sm-4">
      <i class="fa-brands fa-free-code-camp fa-2x mb-3 i-color"></i>
      <h3>Django</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti velit
        dolorem perferendis incidunt quae fugit.
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-chart-simple fa-2x mb-3 i-color"></i>
      <h3>Power Bi</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti velit
        dolorem perferendis incidunt quae fugit.
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-brands fa-github fa-2x mb-3 i-color"></i>
      <h3>Github</h3>
      <p class="ss-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti velit
        dolorem perferendis incidunt quae fugit.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
